body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* Apply blur effect for Safari */
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .name {
    display: flex;
    align-items: center;
    margin-left: 0rem; /* Adjust to move closer to the left edge */
  }
  
  .name img {
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .title div {
    margin: 0;
    padding: 0;
  }
  
  .subtitle {
    font-size: 0.9rem;
    margin-top: 0.2rem;
    color: #aaa;
  }
  
  .pin-icon {
    width: 20px;
    height: auto;
    margin-right: 5px;
  }
  
  .location {
    display: flex;
    align-items: center;
    margin-right: 2.5rem; /* Adjust to align correctly */
  }
  
  .links {
    display: flex;
    gap: 10px;
    margin-right: 13rem; /* Adjust to move closer to the right edge */
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .name, .location, .links {
      text-align: center;
      padding: 0.5rem 0;
    }
  }