.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
}

.projects-intro {
  margin-top: 8rem;
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
  max-width: 600px;
}

.projects-title {
  margin-top: 8rem;
  font-family: "Garamond Premier Pro Semibold Caption", serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
  padding: 2rem;
  background-color: transparent;
}

.project-card {
  margin-bottom: 0;
  width: 90%;
  max-width: none;
  color: #fff;
  text-align: left;
  will-change: transform;
}

.project-image-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  will-change: backdrop-filter;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.project-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000033;
  border-radius: 10px;
  transition: background 0.3s ease;
  z-index: 1;
}

.project-image-container:hover::before {
  background: rgba(0, 0, 0, 0.3);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  z-index: 2;
  transition: filter 0.3s ease;
}

.project-image-container:hover .project-image {
  filter: brightness(0.3);
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 3;
  font-size: 1.5rem;
  font-weight: bold;
}

.project-image-container:hover .project-info {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .project-card {
    width: 100%;
  }

  .project-image-container {
    padding: 0.2rem;
  }

  .project-image {
    height: 150px;
  }

  .project-info {
    font-size: 1.2rem;
  }
}
